<h2>Lịch sử hoạt động</h2>
<div class="list-group">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <li class="list-group-item list-group-item-action flex-column align-items-start"
    *ngFor="let opt of hits | paginate: { itemsPerPage: 10, currentPage: p }; trackBy: trackByFn; ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{opt.title}}</h5>
      <small>{{opt.time | date : format : timezone}}</small>
    </div>
    <p class="mb-1">{{opt.message}}</p>
  </li>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>